RewriteEngine On    # Turn on the rewriting engine
RewriteRule ^read$ read.php [NC,L]
RewriteRule ^read/([0-9_-]*)$ read.php?id=$1 [NC,L]
RewriteRule ^create$ createuser.php [NC,L]
RewriteRule ^createuser$ createuseraddress.php [NC,L]
RewriteRule ^createvendor$ createvendor.php [NC,L]
RewriteRule ^createtype$ createtype.php [NC,L]
RewriteRule ^createinventory$ createinventory.php [NC,L]
RewriteRule ^createordermanagement$ createordermanagement.php [NC,L]
RewriteRule ^createfeedback$ createfeedback.php [NC,L]
RewriteRule ^createproduct$ createproduct.php [NC,L]
RewriteRule ^createcylinder$ createcylinder.php [NC,L]
RewriteRule ^createvenderadress$ createvendoraddress.php [NC,L]
RewriteRule ^createuserlogin$ createuserlogin.php [NC,L]
RewriteRule ^update$ updateuser.php [NC,L]
RewriteRule ^updatecylinder$ updatecylinder.php [NC,L]
RewriteRule ^updateuseraddress$ updateuseraddress.php [NC,L]
RewriteRule ^deleteproduct$ deleteproduct.php [NC,L]
RewriteRule ^delete$ deleteuser.php[NC,L]
RewriteRule ^deleteinventory$ deleteinventory.php [NC,L]
RewriteRule ^delfeedback$ deletefeedback.php [NC,L]
RewriteRule ^deletevendor$ deletevendor.php [NC,L]
RewriteRule ^deletetype$ deletetype.php [NC,L]
RewriteRule ^deletecylinder$ deletecylinder.php [NC,L]
RewriteRule ^deletevenderadress$ deletevenderadress.php [NC,L]
RewriteRule ^viewcylinderlist$ viewcylinderlist.php[NC,L]
RewriteRule ^viewfeedback$ viewfeedback.php[NC,L]
RewriteRule ^getbanner$ getbanner.php[NC,L]
