RewriteEngine On    # Turn on the rewriting engine
RewriteRule ^read$ read.php [NC,L]
RewriteRule ^read/([0-9_-]*)$ read.php?id=$1 [NC,L]
RewriteRule ^create$ createuser.php [NC,L]
RewriteRule ^createuseradd$ createuseraddress.php [NC,L]
RewriteRule ^createcomplaints$ createcomplaints.php [NC,L]                                                                       
RewriteRule ^createvendor$ createvendor.php [NC,L]
RewriteRule ^createtype$ createtype.php [NC,L]
RewriteRule ^createinventory$ createinventory.php [NC,L]
RewriteRule ^createordermanagement$ createordermanagement.php [NC,L]
RewriteRule ^createfeedback$ createfeedback.php [NC,L]
RewriteRule ^createcylinder$ createcylinder.php [NC,L]
RewriteRule ^createtrail$ createtrail.php [NC,L]
RewriteRule ^createvenderadress$ createvendoraddress.php [NC,L]
RewriteRule ^createuserlogin$ createuserlogin.php [NC,L]
RewriteRule ^createsample$ createsample.php [NC,L]
RewriteRule ^createvendors$ createvendors.php [NC,L]
RewriteRule ^createbrands$ createbrands.php [NC,L]
RewriteRule ^createaccessoriestock$ createaccessoriestock.php [NC,L]
RewriteRule ^update$ updateuser.php [NC,L]
RewriteRule ^updatecylinder$ updatecylinder.php [NC,L]
RewriteRule ^updateuseraddress$ updateuseraddress.php [NC,L]
RewriteRule ^updatevendoraddress$ updatevendoraddress.php [NC,L]
RewriteRule ^updatevendors$ updatevendors.php [NC,L]
RewriteRule ^updatebrands$ updatebrands.php [NC,L]
RewriteRule ^updateaccessoriesstock$ updateaccessoriesstock.php [NC,L]
RewriteRule ^deleteuser$ deleteuser.php [NC,L]
RewriteRule ^deleteinventory$ deleteinventory.php [NC,L]
RewriteRule ^delfeedback$ deletefeedback.php [NC,L]
RewriteRule ^deletevendor$ deletevendor.php [NC,L]
RewriteRule ^deletetype$ deletetype.php [NC,L]
RewriteRule ^deletecylinder$ deletecylinder.php [NC,L]
RewriteRule ^deleteinventory$ delete.php [NC,L]
RewriteRule ^deletevendors$ deletevendors.php [NC,L]
RewriteRule ^deletevenderadress$ deletevenderadress.php [NC,L]
RewriteRule ^deletebrands$ deletebrands.php [NC,L]
RewriteRule ^deleteaccessoriesstock$ deleteaccessoriesstock.php [NC,L]
RewriteRule ^viewcylinderlist$ viewcylinderlist.php [NC,L]
RewriteRule ^getbanner$ getbanner.php [NC,L]
RewriteRule ^getuseraddresses$ getuseraddress.php [NC,L]
RewriteRule ^viewfeedback$ viewfeedback.php [NC,L]